<!DOCTYPE html>
<html>
  <head>
    <title>体幹チャレンジ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="description" content="残念だったわね。あきらめて、おとなしく体幹しなさい。">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BHPTM516GJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-BHPTM516GJ');
    </script>

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </head>

  <body>
    <div class="content">
      <header>
        <h1 class="ui positive center aligned header">
          体幹チャレンジ
          <div class="sub header">残念だったわね。<br />あきらめて、おとなしく体幹しなさい。</div>
        </h1>
      </header>

      <%= yield %>

    </div>

    <footer>
      <p>&copy;2021 名古屋大学漕艇部</p>
    </footer>
  </body>
</html>
